.about-outdoors{
font-size: 80px;
font-family: 'Lucida Sans', 'Lucida Sans Regular';
color: black;
}
.p{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: black;
}